openapi: 3.1.0
info:
  title: Tremendous Campaigns Funding Sources API
  description: The Tremendous API allows businesses to send rewards, incentives, and payouts worldwide. Access 2000+ payout methods including gift cards, prepaid Visa/Mastercard, PayPal, Venmo, bank transfers, and charity donations. Supports multi-product rewards (recipient chooses from a catalog) and single-product rewards (fixed payout method). Authentication uses Bearer API key or OAuth 2.0.
  version: '2.0'
  contact:
    name: Tremendous Support
    url: https://developers.tremendous.com
    email: api@tremendous.com
  license:
    name: Proprietary
  termsOfService: https://www.tremendous.com/terms
servers:
- url: https://testflight.tremendous.com/api/v2
  description: Sandbox (testing)
- url: https://www.tremendous.com/api/v2
  description: Production
security:
- BearerAuth: []
tags:
- name: Funding Sources
  description: Manage funding sources for sending rewards
paths:
  /funding_sources:
    get:
      operationId: listFundingSources
      summary: List Funding Sources
      description: Returns a list of available funding sources for the organization.
      tags:
      - Funding Sources
      responses:
        '200':
          description: List of funding sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  funding_sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/FundingSource'
        '401':
          description: Unauthorized
components:
  schemas:
    FundingSource:
      type: object
      properties:
        id:
          type: string
          description: Unique funding source identifier
        method:
          type: string
          enum:
          - BALANCE
          - INVOICE
          - CREDIT_CARD
          - ACH
          description: Funding method type
        meta:
          type: object
          description: Additional metadata (account details, etc.)
        balance:
          type: object
          properties:
            currency_code:
              type: string
            amount:
              type: number
          description: Current balance (for balance funding source)
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a Tremendous API key. Generate API keys in your Tremendous dashboard Settings > API.
    OAuth2:
      type: oauth2
      description: OAuth 2.0 for third-party integrations
      flows:
        authorizationCode:
          authorizationUrl: https://www.tremendous.com/oauth/authorize
          tokenUrl: https://www.tremendous.com/oauth/token
          scopes:
            read: Read access to orders, rewards, products, and funding sources
            write: Create orders and rewards
            manage: Manage organization settings, members, and webhooks
