openapi: 3.1.0
info:
  title: Tremendous Campaigns Invoices API
  description: The Tremendous API allows businesses to send rewards, incentives, and payouts worldwide. Access 2000+ payout methods including gift cards, prepaid Visa/Mastercard, PayPal, Venmo, bank transfers, and charity donations. Supports multi-product rewards (recipient chooses from a catalog) and single-product rewards (fixed payout method). Authentication uses Bearer API key or OAuth 2.0.
  version: '2.0'
  contact:
    name: Tremendous Support
    url: https://developers.tremendous.com
    email: api@tremendous.com
  license:
    name: Proprietary
  termsOfService: https://www.tremendous.com/terms
servers:
- url: https://testflight.tremendous.com/api/v2
  description: Sandbox (testing)
- url: https://www.tremendous.com/api/v2
  description: Production
security:
- BearerAuth: []
tags:
- name: Invoices
  description: View and manage invoices
paths:
  /invoices:
    get:
      operationId: listInvoices
      summary: List Invoices
      description: Returns a list of invoices for the organization.
      tags:
      - Invoices
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        '401':
          description: Unauthorized
  /invoices/{id}:
    get:
      operationId: getInvoice
      summary: Get Invoice
      description: Retrieve details of a specific invoice.
      tags:
      - Invoices
      parameters:
      - name: id
        in: path
        required: true
        description: Invoice ID
        schema:
          type: string
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    $ref: '#/components/schemas/Invoice'
        '401':
          description: Unauthorized
        '404':
          description: Invoice not found
components:
  schemas:
    Invoice:
      type: object
      properties:
        id:
          type: string
          description: Unique invoice identifier
        po_number:
          type: string
          description: Purchase order number
        amount:
          type: object
          properties:
            currency_code:
              type: string
            value:
              type: number
          description: Invoice amount
        remaining:
          type: object
          properties:
            currency_code:
              type: string
            value:
              type: number
          description: Remaining balance on invoice
        status:
          type: string
          enum:
          - PENDING
          - PAID
          - PARTIAL
          - OVERDUE
          - CANCELED
          description: Invoice status
        created_at:
          type: string
          format: date-time
        due_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a Tremendous API key. Generate API keys in your Tremendous dashboard Settings > API.
    OAuth2:
      type: oauth2
      description: OAuth 2.0 for third-party integrations
      flows:
        authorizationCode:
          authorizationUrl: https://www.tremendous.com/oauth/authorize
          tokenUrl: https://www.tremendous.com/oauth/token
          scopes:
            read: Read access to orders, rewards, products, and funding sources
            write: Create orders and rewards
            manage: Manage organization settings, members, and webhooks
