openapi: 3.1.0
info:
  title: Tremendous Campaigns Members API
  description: The Tremendous API allows businesses to send rewards, incentives, and payouts worldwide. Access 2000+ payout methods including gift cards, prepaid Visa/Mastercard, PayPal, Venmo, bank transfers, and charity donations. Supports multi-product rewards (recipient chooses from a catalog) and single-product rewards (fixed payout method). Authentication uses Bearer API key or OAuth 2.0.
  version: '2.0'
  contact:
    name: Tremendous Support
    url: https://developers.tremendous.com
    email: api@tremendous.com
  license:
    name: Proprietary
  termsOfService: https://www.tremendous.com/terms
servers:
- url: https://testflight.tremendous.com/api/v2
  description: Sandbox (testing)
- url: https://www.tremendous.com/api/v2
  description: Production
security:
- BearerAuth: []
tags:
- name: Members
  description: Manage organization members
paths:
  /members:
    get:
      operationId: listMembers
      summary: List Members
      description: Returns a list of members in the organization.
      tags:
      - Members
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/Member'
        '401':
          description: Unauthorized
    post:
      operationId: createMember
      summary: Create Member
      description: Invite a new member to the organization.
      tags:
      - Members
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Member email address
                name:
                  type: string
                  description: Member full name
                role:
                  type: string
                  enum:
                  - MEMBER
                  - ADMIN
                  description: Member role
              required:
              - email
              - name
      responses:
        '201':
          description: Member created
        '401':
          description: Unauthorized
components:
  schemas:
    Member:
      type: object
      properties:
        id:
          type: string
          description: Unique member identifier
        name:
          type: string
          description: Member full name
        email:
          type: string
          format: email
          description: Member email address
        role:
          type: string
          enum:
          - MEMBER
          - ADMIN
          description: Member role
        status:
          type: string
          enum:
          - ACTIVE
          - PENDING
          - INACTIVE
          description: Membership status
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a Tremendous API key. Generate API keys in your Tremendous dashboard Settings > API.
    OAuth2:
      type: oauth2
      description: OAuth 2.0 for third-party integrations
      flows:
        authorizationCode:
          authorizationUrl: https://www.tremendous.com/oauth/authorize
          tokenUrl: https://www.tremendous.com/oauth/token
          scopes:
            read: Read access to orders, rewards, products, and funding sources
            write: Create orders and rewards
            manage: Manage organization settings, members, and webhooks
